# Custom
compile.sh
ASAPCabinetFE
settings.json
.vscode
.vscode/*
.vscode/settings.json
*.vscode
main.txt
videoASAPCabinetFE
videocompile.sh
videomain.cpp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
