# Custom
ASAPCabinetFE
settings.json
.vscode
.vscode/*
.vscode/settings.json
*.vscode
imgui.ini
create_codebase.sh
codebase.txt

# Doxygen generated documentation
docs/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
