[Desktop Entry]
Name=ASAPCabinetFE
Comment=As Simple As Possible Cabinet Front-End
Exec=ASAPCabinetFE
Icon=com.asapcabinetfe.ASAPCabinetFE
Type=Application
Categories=Game;Emulator;
