name: latest build

on:
  push:
    branches: [ "main" ]
    paths:
      - ".github/workflows/compile_release.yml"
      - "src/**"
      - "CMakeLists.txt"
      - "external/**"
      - "version.h.in"
      - "apt-packages.txt"
      - "pacman-packages.txt"
      - "Doxyfile"
      - "docs/**"
    tags:
      - 'v*'
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build_ubuntu:
    runs-on: ubuntu-latest
    outputs:
      sdl2_version: ${{ steps.get-lib-versions.outputs.sdl2_version }}
      ffmpeg_version: ${{ steps.get-lib-versions.outputs.ffmpeg_version }}
      vlc_version: ${{ steps.get-lib-versions.outputs.vlc_version }}
      curl_version: ${{ steps.get-lib-versions.outputs.curl_version }}
      glibc_version: ${{ steps.get-lib-versions.outputs.glibc_version }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        lfs: true
    - name: Install System Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install findutils apt-utils git doxygen graphviz pdf2svg -y -qq
        git config --global --add safe.directory "${GITHUB_WORKSPACE}"
        cat apt-packages.txt | xargs sudo apt-get install -y -qq
    - name: Get Library Versions for Release Tag
      if: startsWith(github.ref, 'refs/tags/')
      id: get-lib-versions
      run: |
        SDL2_VER=$(pkg-config --modversion sdl2 || echo "N/A")
        FFMPEG_VER=$(pkg-config --modversion libavcodec || echo "N/A")
        VLC_VER=$(pkg-config --modversion libvlc || echo "N/A")
        CURL_VER=$(pkg-config --modversion libcurl || echo "N/A")
        GLIBC_VER=$(ldd --version 2>&1 | head -n 1 | awk '{print $NF}' || echo "N/A")
        echo "sdl2_version=$SDL2_VER" >> $GITHUB_OUTPUT
        echo "ffmpeg_version=$FFMPEG_VER" >> $GITHUB_OUTPUT
        echo "vlc_version=$VLC_VER" >> $GITHUB_OUTPUT
        echo "curl_version=$CURL_VER" >> $GITHUB_OUTPUT
        echo "glibc_version=$GLIBC_VER" >> $GITHUB_OUTPUT
    - name: Generate Doxygen documentation
      run: doxygen Doxyfile
    - name: Create .nojekyll file
      run: touch docs/html/.nojekyll
    - uses: actions/upload-pages-artifact@v3
      with:
        path: docs/html
    - id: deployment
      uses: actions/deploy-pages@v4
    - name: Configure with CMake
      run: |
        mkdir -p "${GITHUB_WORKSPACE}/build"
        cd "${GITHUB_WORKSPACE}/build"
        cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=${GITHUB_WORKSPACE}/install_root ..
    - name: Compile with CMake
      run: |
        cd "${GITHUB_WORKSPACE}/build"
        cmake --build . -j$(nproc)
    - name: Run `make install` for packaging
      run: |
        cd "${GITHUB_WORKSPACE}/build"
        cmake --install .
    - name: Create distributable archive
      id: create-archive
      run: |
        VERSION=$(git describe --tags --always --dirty="-dirty" --abbrev=7)
        if [ -z "$VERSION" ]; then
            VERSION="unknown-$(date +%Y%m%d%H%M%S)"
        fi
        TARBALL_NAME="ASAPCabinetFE-${VERSION}-ubuntu-x64.tar.gz"
        ARTIFACT_TEMP_DIR="${RUNNER_TEMP}/artifacts"
        mkdir -p "${ARTIFACT_TEMP_DIR}"
        TARBALL_FULL_PATH="${ARTIFACT_TEMP_DIR}/${TARBALL_NAME}"
        cd "${HOME}/ASAPCabinetFE"
        tar -czvhf "${TARBALL_FULL_PATH}" ./*
        echo "tarball_name=${TARBALL_NAME}" >> "$GITHUB_OUTPUT"
        echo "tarball_full_path=${TARBALL_FULL_PATH}" >> "$GITHUB_OUTPUT"
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ASAPCabinetFE-ubuntu-x64
        path: "${{ runner.temp }}/artifacts/${{ steps.create-archive.outputs.tarball_name }}"
        retention-days: 7
    - name: Test Version Flag
      run: |
        cd "${HOME}/ASAPCabinetFE"
        VERSION_OUTPUT=$(./ASAPCabinetFE --version)
        if echo "$VERSION_OUTPUT" | grep -q "ASAPCabinetFE version"; then
          echo "Version check passed: $VERSION_OUTPUT"
        else
          echo "Version check failed!"
          exit 1
        fi

  build_arch:
    runs-on: ubuntu-latest
    container: archlinux/archlinux:latest
    outputs:
      sdl2_version: ${{ steps.get-lib-versions.outputs.sdl2_version }}
      ffmpeg_version: ${{ steps.get-lib-versions.outputs.ffmpeg_version }}
      vlc_version: ${{ steps.get-lib-versions.outputs.vlc_version }}
      curl_version: ${{ steps.get-lib-versions.outputs.curl_version }}
      glibc_version: ${{ steps.get-lib-versions.outputs.glibc_version }}
    steps:
    - name: Install git and git-lfs
      run: |
        pacman -Syu --noconfirm
        pacman -S --noconfirm --needed git git-lfs nodejs
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        lfs: true
    - name: Install System Dependencies
      run: |
        pacman -S --noconfirm --needed findutils cmake base-devel pkgconf
        git config --global --add safe.directory "/github/workspace"
        cat pacman-packages.txt | xargs pacman -S --noconfirm --needed
    - name: Get Library Versions for Release Tag
      if: startsWith(github.ref, 'refs/tags/')
      id: get-lib-versions
      run: |
        SDL2_VER=$(pkg-config --modversion sdl2 || echo "N/A")
        FFMPEG_VER=$(pkg-config --modversion libavcodec || echo "N/A")
        VLC_VER=$(pkg-config --modversion libvlc || echo "N/A")
        CURL_VER=$(pkg-config --modversion libcurl || echo "N/A")
        GLIBC_VER=$(ldd --version 2>&1 | head -n 1 | awk '{print $NF}' || echo "N/A")
        echo "sdl2_version=$SDL2_VER" >> $GITHUB_OUTPUT
        echo "ffmpeg_version=$FFMPEG_VER" >> $GITHUB_OUTPUT
        echo "vlc_version=$VLC_VER" >> $GITHUB_OUTPUT
        echo "curl_version=$CURL_VER" >> $GITHUB_OUTPUT
        echo "glibc_version=$GLIBC_VER" >> $GITHUB_OUTPUT
    - name: Configure with CMake
      run: |
        mkdir -p "/github/workspace/build"
        cd "/github/workspace/build"
        cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/github/workspace/install_root ..
    - name: Compile with CMake
      run: |
        cd "/github/workspace/build"
        cmake --build . -j$(nproc)
    - name: Run `make install` for packaging
      run: |
        cd "/github/workspace/build"
        cmake --install .
    - name: Create distributable archive
      id: create-archive
      run: |
        VERSION=$(git describe --tags --always --dirty="-dirty" --abbrev=7)
        if [ -z "$VERSION" ]; then
            VERSION="unknown-$(date +%Y%m%d%H%M%S)"
        fi
        TARBALL_NAME="ASAPCabinetFE-${VERSION}-archlinux-x64.tar.gz"
        ARTIFACT_TEMP_DIR="/tmp/artifacts"
        mkdir -p "${ARTIFACT_TEMP_DIR}"
        TARBALL_FULL_PATH="${ARTIFACT_TEMP_DIR}/${TARBALL_NAME}"
        cd "/root/ASAPCabinetFE"
        tar -czvhf "${TARBALL_FULL_PATH}" ./*
        echo "tarball_name=${TARBALL_NAME}" >> "$GITHUB_OUTPUT"
        echo "tarball_full_path=${TARBALL_FULL_PATH}" >> "$GITHUB_OUTPUT"
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ASAPCabinetFE-archlinux-x64
        path: "${{ steps.create-archive.outputs.tarball_full_path }}"
        retention-days: 7
    - name: Test Version Flag
      run: |
        cd "/root/ASAPCabinetFE"
        VERSION_OUTPUT=$(./ASAPCabinetFE --version)
        if echo "$VERSION_OUTPUT" | grep -q "ASAPCabinetFE version"; then
          echo "Version check passed: $VERSION_OUTPUT"
        else
          echo "Version check failed!"
          exit 1
        fi

  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: [build_ubuntu, build_arch]
    steps:
    - name: Download Ubuntu artifact
      uses: actions/download-artifact@v4
      with:
        name: ASAPCabinetFE-ubuntu-x64
        path: artifacts/ubuntu
    - name: Download Arch artifact
      uses: actions/download-artifact@v4
      with:
        name: ASAPCabinetFE-archlinux-x64
        path: artifacts/arch
    - name: Create GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ github.ref_name }}
        name: ASAPCabinetFE Release ${{ github.ref_name }}
        body: |
          ### _As Simple As Possible Cabinet Front-End_ release ${{ github.ref_name }}

          #### Ubuntu Build
          Compiled using:
          - GLIBC: ${{ needs.build_ubuntu.outputs.glibc_version }}
          - SDL2: ${{ needs.build_ubuntu.outputs.sdl2_version }}
          - FFmpeg: ${{ needs.build_ubuntu.outputs.ffmpeg_version }}
          - VLC: ${{ needs.build_ubuntu.outputs.vlc_version }}
          - cURL: ${{ needs.build_ubuntu.outputs.curl_version }}

          #### Arch Linux Build
          Compiled using:
          - GLIBC: ${{ needs.build_arch.outputs.glibc_version }}
          - SDL2: ${{ needs.build_arch.outputs.sdl2_version }}
          - FFmpeg: ${{ needs.build_arch.outputs.ffmpeg_version }}
          - VLC: ${{ needs.build_arch.outputs.vlc_version }}
          - cURL: ${{ needs.build_arch.outputs.curl_version }}

          Unpack and run `./ASAPCabinetFE`
          Please refer to the [User's Manual](https://github.com/surtarso/ASAPCabinetFE/blob/main/UserManual.md)

          **Changes**:
            - This is an automated release, this will be filled soon.

          **Fixes**:
            - This is an automated release, this will be filled soon.

          **Known bugs**:
            - This is an automated release, this will be filled soon.

          **Full Changelog**: https://github.com/surtarso/ASAPCabinetFE/commits/${{ github.ref_name }}
        draft: true
        prerelease: false
        files: |
          artifacts/ubuntu/*.tar.gz
          artifacts/arch/*.tar.gz
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
